h1 {
  text-align: center;
  padding: 1em 1em 1em 0;
  color: #fff;
}

app-stars-background {
  pointer-events: none;
}

@media (max-width: 800px) {
  app-stars-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}
